{%extends 'base.html'%}

{% block head %} 
<title>Customers</title>
{% endblock %}

{% block body %} 
<div class="row">
    <h1 style="text-align: center">Customers</h1>
    <form action="/customer" method ="GET">
        <input type="text" name='number' placeholder="Enter N for N youngest customers">
        <input type="submit">
    </form>
    <div class = "col-md-8">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thread>
                <thead>
                    <tr>
                        <td>id</td>
                        <td>Name</td>
                        <td>Date of Birth</td>
                    </tr>
                </thead>
                <tbody>
                    {% for row in list_cust %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                    </tr>  
                    {% endfor %}              
                </tbody>
            </thread>
        </table>
    </div>
</div>
{% endblock %}