{%extends 'base.html'%}

{% block head %} 
<title>Backend Task</title>
{% endblock %}

{% block body %} 
<div class="content">
    <h1 style="text-align: center">Backend Task</h1>
    <a href="/customer">View Customers</a>
    <br>
    <a href="/order">View Orders</a>
    <br>
    <a href="/items">View Items</a>
    <br>
    <a href="/customer/create">Create Customer</a>
    <br>
    <a href="/order/create">Create Order</a>
    <form action="/order" method ="GET">
        <input type="text" name="customer_id" id="customer_id" placeholder="Enter Customer ID to search" size="30">
        <input type="submit">
    </form>
    <br>
    <form action="/customer" method ="GET">
        <input type="text" name='number' placeholder="Enter N for N youngest customers" size="30">
        <input type="submit">
    </form>
</div>
{% endblock %}